

/* width */
::-webkit-scrollbar {
	position: absolute;
  width:8px;
  height:8px;

}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white	;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}




body{
	font-family: "Times New Roman", "Times";
	margin-top: 5vh;
	overflow: hidden;
}



img{	

		position: relative;
		max-width: auto;
        max-height: 100%;
        display: block;
		float:left;
		display:inline-block;
		display:flex; 
}

a{
	text-decoration: none;
	
}
a:hover{
	font-style: italic;	
}



li{
	font-family: "Times New Roman", "Times";
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 20px;
	list-style: none;
	transition: 0.3s;
	margin-bottom: 1em;

}

li:hover {
	margin-left: 22px;
	list-style: lower-roman;
	transform: translate(50px,0);

	/*font-size: 1.2em;*/

}
h1{
	font-family: "Aktiv Grotesk", sans-serif;
	font-size: 2.5em;
	font-weight: 200;
	line-height: 1.25em;
	margin: 0;
	transition: 0.3s;
}	

h1:hover{
	font-size: 3em;
}

.h2{
	font-family: "Times New Roman", "Times";
	font-size: 1.8em;	
	line-height: 1em;
	margin: 0;
	font-weight: normal;
	text-align: left;
}


h3{
	font-family: "Aktiv Grotesk", sans-serif;

	font-weight: 200;
	line-height: 1em;
	margin: 0;

}	

p{
	margin-right: 5%;
	direction: ltr;
	text-align: left;
	margin-top: 0;
}

#about{
	position: fixed;
	width: 35vw;
	left: 50px;
	top: 25px;
	display: none;
	background-color: white;
	z-index: 101;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	margin: 0;
}

.bottomLeftX{
	position: fixed;
	bottom: 30px;
	left: 100px;
	font-weight: normal;
}
.about{
	transform: rotate(-90deg) translate(50%, -125px);
	z-index: 101;
	position: fixed;
	bottom: 50px;
	left: 45px;
	font-weight: normal;
	transition: 0.3s;
}

.about:hover{
	font-style: italic;
	transform: rotate(-90deg) translate(50%, -150px);

}

.contact{
	margin-left: 0px;
	font-size: 1rem;
	opacity: 0;
	transition: 0.3s;
}

.about:hover .contact{
	opacity: 1;
	margin-left: 50px;
}

.name{
	z-index: 100;
	position: fixed;
	top: 30px;
	left: 50px;
	font-weight: normal;
}

#card{
	position: fixed;
	/*top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);*/
	top: 10px;
	left: 20px;
	z-index: 100;
	display: none;
	width: 525px;
	height: 300px;
	opacity: 1;
	/*box-shadow: 5px 10px 10px black*/
}
#card:hover{
	display: block;
}

.email{
	position: absolute;
	width: 50%;
	height: 5%;
	left: 5%;
	top:62%;
}

.topRightY{
	position: fixed;
	transform: translate(50%, 50%) rotate(90deg);
	text-align: left;
	right: 60px;
	top: 55px;
	font-weight: normal;
}
.topRightX{
	position: fixed;
	text-align: left;
	right: 50px;
	top: 30px;
	font-weight: normal;
}

.projectList{
	position: absolute;
	top: 20px;
	right: 15vw;
	width: 78vw;
	text-align: right;
}

.project{
	width: 80vw;
	height: 45vw;
	border: 1px solid black;
	display: none;
	right: 10px;
	transform: translate(50px,0);
	background-color: black;
	margin-bottom: 20px;
	overflow-y: auto;

}

.scrolledContent::-webkit-scrollbar {

}
	
.scrolledContent{

	overflow-y: auto;
	width: 80vw;
	height: 45vw;
}

/*.description{
	position: fixed;
	width: 30%;
	right: 0px;
	top: 0px;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-right: 40px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	opacity: 0;
	background-color: white;
	transition: 0.3s;
	z-index: 100;
}*/
.description{
	position: fixed;
	width: 30%;
	right: 25px;
	top: 0px;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-top: 30px;
	padding-right: 40px;
	opacity: 0;
	transition: 0.3s;
	z-index: 100;
	color: white;
}



.project:hover .description{
	opacity: .95;
}



.colophon{
	position: absolute;
	width: 100vw;
	height: 200px;
	border-top:1px solid black;
	z-index: 10;
	left: 0;

}





@media screen and (min-width: 0px) and (max-width: 900px) {
}
